src/main/mule/sample1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b6c2d717-a037-4411-aae3-8fefc9faef4e" >
		<http:listener-connection host="0.0.0.0" port="8085" />
	</http:listener-config>
	<vm:config name="VM_Config" doc:name="VM Config" doc:id="bcfa1567-aae4-461b-8f52-63f4c0afb590" >
		<vm:queues >
			<vm:queue queueName="queue1" />
		</vm:queues>
	</vm:config>
	<flow name="sample1Flow" doc:id="c446c1af-edd2-456a-aa9c-42bc1b3dabca" >
		<http:listener doc:name="Listener" doc:id="12e6746c-fd60-4fc8-9744-38573dc2f84f" config-ref="HTTP_Listener_config" path="/sample1"/>
		<set-payload value='#["success"]' doc:name="Set Payload" doc:id="71804891-be34-4204-9138-61f9d7697222" />
	</flow>
</mule>
